.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex > * {
    align-self: center;
}

#root {
    margin-top: 1em;
    margin-bottom: 5em;
}

img {
    display: block;
    width: 100%;
    max-width: 768px;
}

select {
    margin-right: 1rem;
}

.container {
    position: relative;
}

canvas {
    display: block;
    width: 100%;
    max-width: 768px;
    image-rendering: pixelated;
    position: absolute;
    bottom:0;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none;
}
